<html>
    <header>
<title>GITHub Repos</title>
    </header>

    <body>
        <h1>Total GIThub Repos:{{count}}</h1>
        <h2>GIThub top 5 repos</h2>
        <p>These are the repos:</p>
        <p>{{itm1}}</p>
        <p>{{itm2}}</p>
        <p>{{itm3}}</p>
        <p>{{itm4}}</p>
        <p>{{itm5}}</p>

     {{> footer}}
    </body>
</html>